.thumb_container {
    position: relative;
    top: -1px;
    width: 275px;
    height: 150px;
    display: block;
    float: left;
    border-collapse: collapse;
}

.clear {
    clear: both;
}

.thumb_container span{
    position: absolute;
    top:97%;
    left: 70%;
    z-index: 3;
    width: 65px;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .8);
    transform: translateY(-100%);
}

.thumb_container img {
    height: 100%;
    border: solid 1px black;
}

.video_container {
    width: 100%;
    height: 150px;
    display: block;
    border: solid 1px black;
    margin: 15px 0;
    overflow: hidden;
}

.info {
    display: block;
}

.title {
    color: #121212;
    font-weight: 500;
    height: 50px;
    display: block;
    overflow: hidden;
}

.author {
    color: #555;
    font-weight: 500;
    height: 20px;
    overflow: hidden;
}


.downloadOptions {
    margin: 15px 0;
}

.downloadOptions label {
    font-weight: 500;
    color: #121212;
    font-size: 20px;
}

.downloadOptions button {
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    margin: 0 5px;
    background-color: antiquewhite;
}

.downloadOptions button:hover {
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    margin: 0 5px;
    transition: .3s;
    background-color: #aab7ff;
}

@media (max-width: 530px) {
    .thumb_container {
        width: 200px;
    }
    .thumb_container img {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .thumb_container {
        width: 120px;
    }
    .thumb_container img {
        width: 100%;
        height: auto;
    }
    .thumb_container span{
        position: absolute;
        top: 85%;
        left: 20%;
        width: 65px;
        transform: translateY(-100%);
    }
}

@media (max-width: 380px) {
    .thumb_container {
        display: none;
    }
}